/* @tailwind base;
@tailwind components;
@tailwind utilities; */

:root {
  --bright-pink: #ef476f;
  --midnight-green: #073b4c;
  --emerald: #06d6a0;
  --blue-ncs: #118ab2;
  --sunglow: #ffd166;
  --background: #efefef;
  --foreground: #171717;
}


a {
  text-decoration: none;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-lato), Arial, Helvetica, sans-serif;
  margin: 0;
}

h1 {
  color: var(--bright-pink);
  font-family: var(--font-fira-mono);
  font-weight: 900;
  font-size: 60px;
}

h3 a {
  font-family: var(--font-lato);
  font-weight: 700;
  font-size: 30px;
  color: var(--foreground);
}

h3 a span{
  color: var(--blue-ncs);
  font-family: var(--font-fira-mono);
  font-weight: 700;
}

button {
  background-color: var(--sunglow);
  color: var(--foreground);
  border: 1px solid var(--foreground);
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
}

.page-container {
  margin: 20px;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  padding: 28px;
  background-color: var(--emerald);
}

.navbar a, .navbar div {
  cursor: pointer;
  color: var(--midnight-green);
  text-decoration: none;
}

.navbar a:hover, .navbar div:hover {
  color: var(--blue-ncs);
}


.left, .right {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.navbar .right {
  width: 40%;
}

.logo-container {
  width: 100%;
  max-width: 200px;
  height: auto;
  position: relative;
}

.container {
  margin: 10px;
}

.primary-chart {
  margin: 20px auto;
  width: 90%;
  display: flex;
}

.secondary-chart {
  margin: 20px auto;
  display: flex;
  flex-wrap: nowrap;
}

.secondary-chart div {
  margin: 10px;
  width: 50%;
}

.form-section {
  margin: 7px 0;
}

.welcome-summary h2 {
  font-family: var(--font-fira-mono);
  font-weight: 700;
  color: var(--foreground);
}

#delete-button {
  background-color: var(--bright-pink);
  margin-right: 10px;
}

#edit-link {
  font-weight: bold;
  color: var(--blue-ncs);
}

#username {
  color: var(--blue-ncs);
}

#total-training {
  color: var(--bright-pink);
}

#average-mood {
  color: var(--midnight-green);
}

@media screen and (max-width: 800px) {
  .navbar .right {
    width: 80%;
  }
  .primary-chart, .secondary-chart div  {
    margin: 20px 0;
    width: 100%
  }
  .secondary-chart {
    flex-wrap: wrap;
  }
}

/* Taken from https://cssloaders.github.io/ */
.loader {
  width: 48px;
  height: 48px;
  border: 5px solid var(--emerald);
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  }

  @keyframes rotation {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
  } 